:root {
    --yellow: #FFBF00;
    --green: #00A36C;
    --gray: #899499;
    --background: #E5E4E2;

}

body {
    background-color: var(--background);
}

/* svg {
    display: block;
    margin: 2rem auto;
} */

#container {
    background-color: white;
    margin: 5rem auto;
    margin-bottom: 2.5rem;
    border: solid;
    width: 12.5rem;
}

#title {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0;

}

#guess-input {
    text-align: center;
}

#input {
    border: solid;
    border-radius: 0;
    height: 1.5rem;
    margin-right: 3px;
}

button {
    height: 1.8129rem;
    border: solid;
    border-radius: 0;
}

table {
    margin: 0 auto;
    margin-bottom: 1rem;
}

td {
    border: solid;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
}

.row {
    /* border: red solid; */
    width: fit-content;
    margin: 0 auto;
    background-color: white;
    display: flex;
}

p {
    width: 1.5rem;
    height: 1.5rem;
    border: 1.5px solid;
    text-align: center;
    margin: 1px;
    padding: 1px;
    line-height: 1.5rem;
}